.row {
  margin-left: 20px;
  color: white;
  margin: 10px 0;
  font-size: 1.25rem;
  padding: 20px 0;
}

.row_posters {
  margin-left: 20px;
  display: flex;
  /* flex-direction: row; */
  overflow-y: hidden;
  /* we scroll in horizontal */
  overflow-x: scroll;
}

/* 1:26:33 */
.row_posters::-webkit-scrollbar {
  /* tell all the browsers not so show the scroll bar, but keep the functionality */
  display: none;
}

.row_poster {
  /* keeps the ratio */
  object-fit: contain;
  /* width: 100%; */
  max-height: 200px;
  /* margin-right: 1.5vh; */
  transition: all 0.6s;
  border-radius: 5px;
  border: 1px solid rgb(44, 42, 42);
  box-shadow: 1px 1px rgb(117, 117, 117);
}

.row_poster:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px rgb(255, 255, 255);
}

.row_posterLarge {
  max-height: 350px;
  border: 1px solid rgb(65, 122, 160);
}

.row_posterLarge:hover {
  transform: scale(1.03);
}
